<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jobsket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JobsketDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6186F912E079AF00AF9B6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A770121125EDB790010DF5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABA362A12836FD400DB3CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC6FBB4127F4770008D1528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD51FB71319EA6D00800D18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD520611319EC3E00800D18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD5210B1319ED1700800D18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ADBC1B51279CF860047E873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF4488112862D1C0076A9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
